{% include 'header.html' %}

<strong>Newest posts:</strong>

{% for message in messages %}
<div class="post">{{ message }}</div>
{% endfor %}
<a class="stats-link" href="/stats">check the stats (logged users only)</a>

<div id="post-form">
    <strong>Post a new message:</strong>

    <textarea id="newpost"></textarea>
    <a onclick="sendPost()" href="#">Publish post</a>
</div>

<script>
    async function sendPost() {
        await fetch('/', { method: "POST", body: document.getElementById('newpost').value })
        window.location.reload()
    }
</script>

{% include 'footer.html' %}